body {
  margin: 0;
  background-color: #ddf3f5;
  text-align: center;
  padding-top: 115px;
}

.building {
  width: 20%;
  height: 20%;
  position: relative;
  right: 3%;
}

.bridge {
  width: 20%;
  height: 20%;
  position: relative;
  right: 10%
}

.tower {
  width: 10%;
  height: 10%;
  position: relative;
  right: 3%;
}

.avatar {
  /* width: 10%; */
  height: 15%;
  position: absolute;
  left: 3%;
  top: 3%;
}

.london-eye {
  width: 30%;
  height: 30%;
  position: relative;
  right: 8%
}

.post {
  width: 3%;
  height: 3%;
  position: relative;
}

.bus {
  width: 13%;
  height: 13%;
  position: relative;
  left: 55%;
}

.banner {
  position: relative;
}

.profile-image {
  border-radius: 50%;
  width: 5%;
  height: auto;
  margin-left: 100px;
}

.cloud {
  width: 15%;
  height: auto;
}

.top-cloud {
  position: absolute;
  top: 15%;
  right: 10%;
}

.center-cloud {
  position: absolute;
  top: 6%;
  left: 50%;
}

.bottom-cloud {
  position: absolute;
  left: 12%;
  top: 10%;
}

span {
  text-decoration: underline;
}

.intro-image {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.intro-image:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

hr {
  border: dotted #f2aaaa 7px;
  border-bottom: 0;
  width: 5%;
  margin: 5% auto;

}

.intro {
  /* display: inline; */
  font-family: 'Merriweather Sans', sans-serif;
}

.description {
  /* display: inline; */
font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 30px;
  color: #01a9b4;
  font-family: 'Inconsolata', monospace;
  position: relative;
}

h3:hover{
    color: #086972;
}

.title {
  font-family: 'Sacramento', cursive;
  color: #01a9b4;
  font-size: 60px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  margin: 0;
}

.portfolio{
  font-family: 'Sacramento', cursive;
  color: #01a9b4;
  display: inline;
}

.automation{
  font-size: 40px;
  transition-property: font-size;
  transition-duration: 1s;
  right: 25%;
}

.automation:hover{
    font-size: 50px;
}

.developer{
  font-size: 40px;
  transition-property: font-size;
  transition-duration: 1s;
  left: 25%;
}

.developer:hover{
    font-size: 50px;
}

.div-portfolio{
  margin: 5% auto;

}
